
.bino_banner
{
    width: 100%;
    height: 80vh;
    background: url(../../imgs/impuls.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(250, 250, 250);
}

.bino_banner p
{
    padding: 10px 15px;
    background: #c0baba59;
    backdrop-filter: blur(20xp);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bino_banner p a
{
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 5px;
    margin-right: 5px;
    font-size: .9em;
}


.bino_banner h1
{
    font-size: 4.5em;
    width: 70%;
    text-align: center;
}



.savollar
{
    width: 80%;
    margin: 0 auto;
    transform: translateY(-170px);
    background: #fff;
    height: auto;
    border-radius: 6px;
}







/* accordion ===================== */





.accordion-box
{
    display: flex;
}



.left-menu
{
    padding: 20px;
    width: 100%;
}

.left-menu h2
{
    margin-bottom: 30px;
    font-size: 2em;
}

.right-menu
{
    padding: 20px;
}


.accordion-section
{
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 3%;
    overflow: hidden;
}




.accordion-section .first
{
    font-size: 3em;
    margin-bottom: 30px;
    color: var(--gb-color);
}


.accord-box
{
    width: 100%;
    margin: 0;
    border-radius: 5px;
    overflow: hidden;
}



.accordion
{
    width: 100%;
    height: 10vh;
    margin: 5px auto;
    background: var(--gb-color);
    overflow: hidden;
    transition: .5s;
    color: var(--fff);
    z-index: 999;
    border-radius: 5px;
}

.accordion:first-child .savol-div
{
    border: none;
}

.accordion.active
{
    height: min-content;
}



.plus span
{
    width: 100%;
    height: 2px;
    background: var(--fff);
    position: absolute;
    border-radius: 30px;
    transition: .5s;
}

.plus span:nth-child(2)
{
    transform: rotate(90deg);
}




.savol-div
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 40px;
}

.savol-div h1
{
    font-size: 1.1em;
    cursor: default;
    font-weight: 500;
    letter-spacing: .5px;
}


.accordion.active .savol-div
{
    color: var(--fff);
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}


.savol-div .plus
{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
}


.accordion.active .plus span:nth-child(2)
{
    opacity: 0;
}


.preview
{
    padding: 20px;
    height: auto;
    overflow-y: auto;
}


.preview p
{
    font-size: 1em;
    font-weight:400;
    transform: translateY(-100px);
    opacity: 0;
    transition-delay: 10s;
    transition: 1s;
}

.accordion.active .preview p
{
    transform: translateY(0);
    opacity: 1;
}


/* accordion ===================== */





@media (max-width: 780px) {
  
    .savollar
    {
        width: 97%;
    }

    .savol-div
    {
        padding: 0 10px;
    }
    .right-menu
    {
        padding: 0;
    }

    .savol-div h1
    {
        font-size: .9em;
    }
}