

/* banner =========================== */




.banner
{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../../imgs/impuls.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--fff);
    padding: 0 3%;
    overflow: hidden;
}

.banner::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
}


.banner h1, h2
{
    z-index: 1;
    color:  var(--fff);
    text-transform: uppercase;
}

.banner h1
{
    font-size: 4em;
}

.banner h2
{
    font-size: .9em;
    font-weight: 400;
    background: #ffffff3a;
    backdrop-filter: blur(20px);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: default;
    overflow: hidden;
    line-height: 20px;
}

.banner h2 a
{
    color: #fff;
    border-right: 1px solid #ffffff65;
    padding: 0 10px 0 0;
    margin-right: 10px;
}










/* banner =========================== */







.header
{
    width: 85%;
    margin: 0 auto;
    transform: translateY(-110px);
    background: #fff;
    padding: 40px 20px;
    color: #5a5a5a;
    line-height: 35px;
    font-weight: 400 !important;
    border-radius: 2px;
}



































@media (max-width: 830px) {
    .banner h1
    {
        font-size: 2em;
        text-align: center;
    }

    .header
    {
        width: 97%;
    }
}















