.admin_page
{
    height: 100vh;
    z-index: 999;
    position: fixed;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 2em;
}

.passowrd,
.mytest
{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    display: none;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mytest.active,
.passowrd.active
{
    display: flex;
}


.inputs
{
    width: 500px;
    border: 1px solid #eee;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs input
{
    padding: 10px;
    width: 80%;
    border: 0;
    outline: none;
}
.inputs button
{
    width: 20%;
    border: 0;
    outline: none;
    background: blue;
    padding: 10px;
    color: #fff;
    outline: none;
    cursor: pointer;
}





.mytest a
{
    padding: 10px 20px;
    background: blue;
    color: #fff;
    border-radius: 10px;    
}