.banner-aloqa
{
    width: 100%;
    height: 80vh;
    background: url(../../imgs/aloqa\ img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
    font-size: 1.7em;
    overflow: hidden;
    position: relative;
}

.banner-aloqa h1
{
    z-index: 1;
    color: #fff;
}


.banner-aloqa::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.26);
}



.form-div
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: #ebebeb;
}

form
{
    color: var(--gb-color);
    width: 60%;
    background: var(--fff);
    height: 80vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

form h1
{
    font-weight: 599;
}

.left-form-menu
{
    width: 30%;
    background: var(--gb-color);
    height: 80vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px;
    color: var(--fff);
}


.left-form-menu h1
{
    margin-bottom: 10px;
}


.left-form-menu p
{
    margin-bottom: 20px;
}


.left-form-menu ul li
{
    list-style: disc;
    margin-bottom: 20px;
}

.left-form-menu ul
{
    padding: 20px;
    
}


form input
{
    width: 100%;
    border: none;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--gb-color);
    outline: none;
    padding: 7px;
    margin: 10px 0;
    transition: .5s;
    border: 1px solid #2e6ce8;
}




form input::placeholder,
form textarea::placeholder
{
    color: #2e6ce8;
    font-weight: 500;
}

form textarea
{
    width: 100%;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--gb-color);
    height: 25vh;
    padding: 10px;
    outline: none;
    transition: .5s;
    border: 1px solid #2e6ce8;
}

.result-popup
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--fff);
    width: 50%;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.donebtn
{
    color: var(--fff);
    font-size: 5em;
}

.donebtn-box
{
    width: 160px;
    height: 160px;
    background: var(--green);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.result-popup p
{
    margin: 20px 0;
    color:var(--green);
    font-size: 1.2em;
}

.result-popup button
{
    background: var(--green);
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
}


.result-popup.active
{
    display: flex;
}














@media (max-width: 726px) {
    .banner-aloqa
    {
        padding-right: 0;
        justify-content: center;
        background-position: left;
    }
    .banner-aloqa h1
    {
        font-size: 1.5em;
    }


    .form-div
    {
        flex-direction: column;
        height: auto;
    }

    .left-form-menu
    {
        width: 100%;
        border-radius: 10px;
        height: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    form
    {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .result-popup
    {
        width: 90%;
    }

    .result-popup p 
    {
        font-size: 1em;
        text-align: center;
    }
}


@media (max-width: 520px) {
    .banner-aloqa
    {
        padding-right: 0;
        height: 50vh;
        justify-content: center;
        background-position: left;
    }
    
    .banner-aloqa h1
    {
        font-size: .9em;
    }

    .form-div
    {
        padding: 10px;
    }

    .left-form-menu h1
    {
        font-size: 1.3em;
    }
    
    form h1
    {
        font-size: 1.3em;
    }

    
}