/* nav
{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    background: #00000044;
}


.navbar_top
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ffffff8f;
    padding-bottom: 5px;
    transition: .5s;
}

.navbar_top a
{
    color: #fff;
    display: inline-flex;
    align-items: center;
}

.navbar_top a svg
{
    font-size: 1.5em;
    margin-right: 5px;
}


.languages a
{
    border-right: 1px solid #fff;
    padding: 0 3px;
}

.languages a:last-child
{
    border-right: 0;
}

.navbar,
.navigation
{
    display: flex;
}


.navbar
{
    width: 100%;
    justify-content: space-between !important;
    align-items: center !important;
    transition: .5s;
}

nav.active
{
    background: #00000079;
    padding-top: 0;
    backdrop-filter: blur(50px);
}



nav.active > .navbar_top
{
    transform: translateY(-1000%);
    height: 0;
}


.logo_imi
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_txt
{
    font-size: 1.2em;
    padding-top: 10px;
    font-weight: 600;
    color: #fff;
}

.logo_txt a
{
    color: #fff;
}

.logo_imi_box
{
    width: 80px;
    height: 50px;
}


.logo_imi img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



 
nav ul li a
{
    padding: 10px 20px !important;
    display: inline-block;
    color: #fff;
    width: 100%;
    transition: .5s;
}

.navigation li
{
    position: relative;   
    z-index: 111;
}

.navigation ul li a
{
    color: #fff;
    z-index: 111;
}

.navigation li:hover > .sub_menu
{
    display: block;
}




.sub_menu
{
    position: absolute;
    left: 0;
    width: 250px;
    display: none;
    background: #1357d4;
}

.sub_menu li
{
    border-bottom: 1px solid #eee;
}

.sub_menu li:hover
{
    background: #fff;
}


.sub_menu li:hover > a
{
    color: #1357d4;
}

.sub_menu li:last-child
{
    border: 0;
}

.sub_menu ul
{
    left: 100%;
    top: 0;
    background: #1357d4;
    width: 270px;
}

.sub_menu ul li ul
{
    position: absolute;
    left: 100%;
    top: 0 !important;
    display: none;
    width: 250px;
}

.sub_menu ul li:hover > ul
{
    display: block;
}

.nav_logo
{
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffffff35;
    backdrop-filter: blur(30px);
    display: grid;
    place-items: center;
}

.nav_logo img
{
    width: 90%;
    height: 90%;
    object-fit: contain;
}



.user_menu
{
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
}




.menu
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
}
.user_menu .menu span
{
    height: 3px;
    width: 100%;
    border-radius: 50px;
    background: #fff;
    z-index: 999;
}

.menu span
{
    transition: .5s;
}




.menu.active span:nth-child(2) {
    transform: scale(0);
}


.menu.active span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}

.menu.active span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}

.user_link .platform_links
{
    position: absolute;
    font-size: 1em;
    background: var(--gb-color);
    top: 100%;
    right: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .5s;
    z-index: 999;
}
.user_link .platform_links.active{
    max-height: 50vh;
}

.user_link .platform_links a
{
    font-size: 18px !important;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
.user_link .platform_links a svg
{
    margin-right: 4px;
}



@media (max-width: 1135px) {
    .navbar_top
    {display: none;}

    .logo_txt
    {
        font-size: 1em;
    }
}







#responsive_platform_links
{
    display: none;
}







@media (max-width: 1003px) {
    .logo_imi_box
    {
        width: 50px;
    }

    nav ul li a
    {
        padding: 5px 10px !important;
    }
}



@media (max-width: 923px) {
    .navigation
    {
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: 100vh;
        padding: 20px;
    }
    .navigation a
    {
        color: #000;
    }
    .sub_menu
    {
        position: relative !important;
        width: 90vw;
        left: 0 !important;
    }

    .sub_menu ul 
    {
        position: relative !important;
        left: 0 !important;
        width: 90vw;
    }

    .navbar.active
    {
        padding-top: 5px;
    }


}






@media (max-width: 870px) {

    #responsive_platform_links
    {
        display: block;
    }

    .nav_lng
    {
        display: flex;
    }
    .lng-box
    {
        border-left: 0;
    }

    .navbar.active .navigation
    {
        background: var(--gb-color);
    }

    .user_menu
    {
        display: flex;
    }

    .navbar.active
    {
        width: 100%;
    }


    .navbar.active .nav
    {
        padding: 15px 3%;
    }

    .menu
    {
        display: flex;
    }

    .navigation
    {
        position: fixed;
        left: 0;
        top: -100vh;
        width: 100%!important;
        height: 90vh !important;
        border-radius: 10px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.281);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1.2em;
        line-height: 50px;
        padding-top: 30px;
        padding: 20px;
        transition: .5s;
        backdrop-filter: blur(80px);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.918);
        overflow-y: scroll;
    }

    .navigation::-webkit-scrollbar
    {
        display: none;
    }

    .navigation.active
    {
        top: 0;
        border-radius: 0;
    }



    
    .navigation li a
    {
        color: var(--fff);
        padding: 0 7px;
        margin-bottom: 4px;
        display: flex !important;
        text-align: center;
    }
    

    .imi a,
    .tuzilma a,
    .talabalar a
    {
        display: flex !important;
        align-items: center !important;
        text-align: center;
    }


   

   
    .imi:hover
    {
        background: rgba(0, 0,0, 0) !important;
    }




    .ul_menu_1,
    .ul_menu_2,
    .ul_menu_3
    {
        position: static;
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        width: 100%;
        padding: 0;
        background: #ffffff00;
        line-height: 30px;
    }


    .partners_menu
    {
        left: 0;
        z-index: 111;
    }


    .ul_menu_1.active,
    .ul_menu_2.active,
    .ul_menu_3.active
    {
        height: auto;
        opacity: 1;
        visibility: visible;
    }

    .ul_menu_1 li a,
    .ul_menu_2 li a,
    .ul_menu_3 li a
    {
        padding:  10px !important;
        margin: 0;
    }

        



    .nav-top-info
    {
        display: none;
    }

    .menu
    {
        display: flex !important;
    }

    .navbar-brand
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
 
  

    .yangi::before,
    .ariza_btn:before,
    .faq::before
    {
        display: none;
    }


}

@media (max-width: 780px) {
    .desktop_user_link
    {
        display: block;
    }

    .user_link
    {
        margin-right: 13px;
        font-size: 1em;
        background: transparent;
    }

    .user_link a
    {
        padding: 0;
        border: 2px solid #fff;
        font-size: .8em;
        padding: 0 20px !important;
        border-radius: 50px !important;
    }

    .user_link .platform_links a
    {
        border-radius: 0 !important;
    }

    .nav-top-info
    {
        flex-direction: column;
        height: 23vh;
    }

    .nav-top-info span
    {
        padding: 10px 20px;
        border-bottom: 1px solid var(--border-color);
        width: 100%;
    }

    .nav-top-info span:last-child
    {
        border-bottom: none;
    }

    .phone-univer
    {
        border-right: none;
        border-left: none;
    }
    
    .platform_links.active
    {
        padding: 10px;
    }
   
    .nav .menu span
    {
        background: var(--fff);
    }
   

    .navbar.active .navbar-brand a
    {   
        color: var(--fff);
    }
    .navbar.active .nav .menu span
    {   
        background: var(--fff);
    }

}






@media (max-width: 520px) {
    .nav-top-info
    {
        display: none;
    }

    .nav
    {
        padding: 20px;
    }
    .navbar-brand h1
    {
        font-size: 1.2em !important;
    }
    
    .navbar.active{
        backdrop-filter: blur(100) !important;
        width: 100%;
        top: 0;
        border-radius: 0;
    }



    .navigation li a {
        font-weight: 500;
    }
   



    .contact-info a i {
        font-size: 1em;
    }   

 

    .lng-box svg path
    {
        stroke: var(--fff);
    }

    .languages
    {
        left: 100%;
        width: 100px;
    }
    .language span
    {
        text-align: center !important;
    }

    .navbar.active
    {
        padding: 0 !important;
    }

    .navbar-brand p
    {
        font-size: .7em;
    }
    .navbar-brand img
    {
        width: 30px;
        height: 30px;
    }


    .navbar-brand a
    {
        align-items: center !important;
    }

    .navigation
    {
        padding: 10px !important;
    }
}




 */
