


.btn {
    color: var(--fff);
    background: var(--gb-color);
    padding: 9px 10px;
    margin: 10px 0;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    opacity: .8;
}









 
.body_fix
{
    overflow: hidden;
}





/* header ================================== */


header {
    width: 100%;
    height: 90vh;
    position: relative;
    transition: .5s;
    overflow: hidden;
}






header .img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.534);
    z-index: 99;
}




header .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.img.active {
    visibility: visible;
    opacity: 1;
}



.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.img h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .5s;
    font-size: 3em;
    color: var(--fff);
    font-weight: 500;
    z-index: 99;
}



.img.active h1 {
    opacity: 1;
}

.img.active img {
    animation: alternate 35s slider_zoom;
    z-index: -1;
}


@keyframes slider_zoom {   
    100%{
        transform: scale(1.7);
    }   
}





/* header ================================== */












.usmle
{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.usmle_box
{
    width: 95%;
    height: 90%;
    border-radius: 10px;
    background: var(--gb-color);
    color: var(--fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.usmle_box h4
{
    font-weight: 400 !important;
    width: 70%;
    font-size: 1.3em;
    margin: 20px 0;
}
.usmle_box h1
{
    font-weight: 500 !important;
    letter-spacing: 2px;
    font-size: 2.5em;
}

.usmle_box .link_usmle
{
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--fff);
    color: var(--gb-color);
    font-size: 1.2em;
    padding: 5px 25px;
    cursor: pointer;
    font-weight: 500;
}   




/* biz haqimizda ============================= */

.biz-haqimizda {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 3%;
    position: relative;
    z-index: 2;
    overflow: hidden ;
}



.bizhaqimizda-text
{
    width: 50%;
}

.bizhaqimzida-img
{
    width: 50%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
}

.bizhaqimzida-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.biz-haqimizda p {
    font-weight: 500;
    margin: 10px 0 20px 0;
    line-height: 25px;
}

.bizhaqimizda-text h1
{
    font-size: 1.4em;
    font-weight: 500;
    transform: translateX(40px);
    position: relative;
    color: var(--gb-color);
}

.bizhaqimizda-text h1:before
{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--gb-color);
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}


.bizhaqimizda-text h3{
    font-size: 2em;
    font-weight: 900;
    margin-top: 20px;
    color: var(--gb-color);
}

.biz-haqimizda a
{
    cursor: pointer;
    z-index: 2;
}




/* biz haqimizda ============================= */








/* impuls box =================================== */
.impuls
{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}


.impuls-box
{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 10px;
    text-align: center;
    padding: 10px;
    background: var(--gb-color);
    color: var(--fff);
    border-radius: 7px;
    box-shadow: 0 0 10px var(--gb-color);
}


.img-impuls-box
{
    border-radius: 7px;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background: var(--fff);
    position: relative;
}

.impuls-box img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-logo
{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 99;
}

.img-logo img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* impuls box =================================== */








/* accordion ===================== */





.accordion-box
{
    display: flex;
}



.left-menu
{
    padding: 20px;
    width: 100%;
}

.left-menu h2
{
    margin-bottom: 30px;
    font-size: 2em;
}

.right-menu
{
    padding: 20px;
}


.accordion-section
{
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 3%;
    background: var(--kulrang);
    overflow: hidden;
}




.accordion-section .first
{
    font-size: 3em;
    margin-bottom: 30px;
    color: var(--gb-color);
}


.accord-box
{
    width: 100%;
    margin: 0;
    border-radius: 5px;
    overflow: hidden;
}



.accordion
{
    width: 100%;
    height: 10vh;
    margin: 5px auto;
    background: var(--gb-color);
    overflow: hidden;
    transition: .5s;
    color: var(--fff);
    z-index: 999;
    border-radius: 5px;
}

.accordion:first-child .savol-div
{
    border: none;
}

.accordion.active
{
    height: min-content;
}



.plus span
{
    width: 100%;
    height: 2px;
    background: var(--fff);
    position: absolute;
    border-radius: 30px;
    transition: .5s;
}

.plus span:nth-child(2)
{
    transform: rotate(90deg);
}




.savol-div
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 40px;
}

.savol-div h1
{
    font-size: 1.1em;
    cursor: default;
    font-weight: 500;
    letter-spacing: .5px;
}


.accordion.active .savol-div
{
    color: var(--fff);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.918);
}


.savol-div .plus
{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
}


.accordion.active .plus span:nth-child(2)
{
    opacity: 0;
}


.preview
{
    padding: 20px;
    height: auto;
    overflow-y: auto;
}


.preview p
{
    font-size: 1em;
    font-weight:400;
    transform: translateY(-100px);
    opacity: 0;
    transition-delay: 10s;
    transition: 1s;
}

.accordion.active .preview p
{
    transform: translateY(0);
    opacity: 1;
}


/* accordion ===================== */

















@media (max-width: 1000px) {
    .biz-haqimizda
    {
        flex-direction: column-reverse;
        height: auto;
    }

    .bizhaqimizda-text
    {
        width: 100%;
    }

    .bizhaqimzida-img
    {
        width: 100%;
    }

    .accordion-box
    {
        flex-direction: column;
    }

    .impuls
    {
        padding: 10px 5px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    .impuls-box
    {
        height: 70vh;
    }
}



































@media (max-width: 870px) {
    header
    {
        height: 100vh !important;
    }
  
}

@media (max-width: 780px) {
  

    .img h1
    {
        font-size: 3em;
    }




    header
    {
        height: 80vh;
    }

    .img h4
    {
        top: 43%;
        letter-spacing: 1px;
        font-size: 1em;
    }

    .img:nth-child(2) h1
    {
        font-size: 1.5em;
    }




  




    .usmle_box h4
    {
        font-weight: 400 !important;
        width: 90%;
        font-size: 1.1em;
        margin: 20px 0;
    }



}






@media (max-width: 520px) {

    header
    {
        height: 50vh !important;
    }


    .img h1
    {
        font-size: 1.7em !important;
    }

    .hamkorlar
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .hamkor-box
    {
        width: 150px;
        margin: 0 auto;
    }

    .first
    {
        font-size: 1.5em !important;
        text-align: center;
        margin-bottom: 0 !important;
    }

    .left-menu h2
    {
        font-size: 1.2em;
    }

    .savol-div
    {
        padding: 0 15px;
    }

    .savol-div h1
    {
        font-size: .9em;
    }

    .right-menu
    {
        padding: 0;
    }
   
    
    .impuls
    {
        padding: 10px 5px;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .impuls-box
    {
        height: 70vh;
    }


    .img h1
    {
        font-size: 1em;
    }

    .img:nth-child(2) h1, h2
    {
        font-size: 1em;
    }
   

    .biz-haqimizda h1
    {
        font-weight: 500;
    }

    .btn
    {
        font-weight: 500;
    }

    .impuls-box h1
    {
        font-weight: 500;
    }







    



    .usmle_box h4
    {
        font-weight: 400 !important;
        width: 99%;
        font-size: 1.2em;
        margin: 20px 0;
    }

    .usmle_box h1
    {
        font-size: 1.5em;
        letter-spacing: 0px;
    }

    .usmle_box
    {
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        padding: 40px 20px;
    }

    .usmle
    {
        height: auto;
        padding: 10px 0;
    }

    .usmle_box .link_usmle
    {
        font-size: 1em;
        padding: 6px 15px;
    }


}