


.btn {
    color: var(--fff);
    background: var(--gb-color);
    padding: 9px 10px;
    margin: 10px 0;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    opacity: .8;
}

.india_hamkor
{
    text-align: center;
}



.india_hamkor_footer p
{
    padding: 5px 0;
}




 
.body_fix
{
    overflow: hidden;
}



.mini_navbar
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    background: #ffffff4b;
    z-index: 111;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    padding: 5px;
    backdrop-filter: blur(20px);
    border-radius: 50%;
}



.mini_navbar a
{
    width: 100%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    position: absolute;
    background: #ffffff;
    cursor: pointer;
    /* transition: .5s !important; */
    transition: .4s cubic-bezier(.20,0,0,1.3);
    box-shadow: 0 0 5px #0351ef45;
}


.mini_navbar a:hover
{
    transform: scale(1.1);
}


.mini_navbar span
{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    place-items: center;
    background: #fff;
    box-shadow: 0 0 10px #fff;
}

.mini_navbar div
{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    position: absolute;
    background: #ffffff;
    cursor: pointer;
    /* transition: .5s !important; */
    transition: .4s cubic-bezier(.20,0,0,1.3);
    box-shadow: 0 0 5px #0351ef45;
}

.mini-lng-box,
.lng_mini_navbar
{
    position: absolute;
    left: -200%;
}

.mini-lng-box
{
    display: flex;
}

/* .mini_navbar a:last-child
{
    border-bottom: 0;
    color: rgb(0, 170, 255);
} */

.mini_navbar div
{
    border-bottom: 0;
    color: rgb(0, 170, 255);
}

.mini_navbar div.active
{
    border-bottom: 0;
    color: rgb(0, 170, 255);
    transform: translateY(-115%);
    transition-delay: .1s;
}



.mini_navbar a:last-child
{
    color: rgb(255, 174, 0);
    transition-delay: .1s;
}
.mini_navbar a:last-child.active
{
    transform: translateY(-115%);
}


.mini_navbar a:nth-child(2)
{
    color: rgb(0, 195, 255);
    transition-delay: .2s;
}
.mini_navbar a:nth-child(2).active
{
    transform: translateY(-225%);
}


.mini_navbar a:nth-child(3)
{
    color: rgb(255, 81, 0);
    transition-delay: .3s;
}
.mini_navbar a:nth-child(3).active
{
    transform: translateY(-335%);
}


.mini_navbar a:nth-child(4)
{
    color: rgb(0, 140, 255);
    transition-delay: .4s;
}
.mini_navbar a:nth-child(4).active
{
    transform: translateY(-442%);
}


.mini_navbar a:nth-child(5)
{
    color: rgb(0, 255, 102);
    transition-delay: .5s;
}
.mini_navbar a:nth-child(5).active
{
    transform: translateY(-550%);
}




/* header ================================== */


header {
    width: 100%;
    height: 100vh;
    position: relative;
    transition: .5s;
    overflow: hidden;
}






header .img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.349);
    z-index: 99;
}




header .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.img.active {
    visibility: visible;
    opacity: 1;
}



.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.img h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .5s;
    font-size: 3em;
    color: var(--fff);
    font-weight: 500;
    z-index: 99;
}



.img.active h1 {
    opacity: 1;
}

.img.active img {
    animation: alternate 35s slider_zoom;
    z-index: -1;
}


@keyframes slider_zoom {   
    100%{
        transform: scale(1.7);
    }   
}





/* header ================================== */



.avzalliklar
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 0 40px;
    text-align: center;
}

.avzalliklar div
{
    /* border: 1px solid #eee; */
    height: 250px;
    font-size: 1.2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avzalliklar svg
{
    font-size: 3em;
    color: var(--gb-color);
}

.avzalliklar h4
{
    margin: 8px 0;
}
















.usmle
{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.usmle_box
{
    width: 95%;
    height: 90%;
    border-radius: 10px;
    background: var(--gb-color);
    color: var(--fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.usmle_box h4
{
    font-weight: 400 !important;
    width: 70%;
    font-size: 1.3em;
    margin: 20px 0;
}
.usmle_box h1
{
    font-weight: 500 !important;
    letter-spacing: 2px;
    font-size: 2.5em;
}

.usmle_box .link_usmle
{
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--fff);
    color: var(--gb-color);
    font-size: 1.2em;
    padding: 5px 25px;
    cursor: pointer;
    font-weight: 500;
}   




/* biz haqimizda ============================= */

.biz-haqimizda {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 3%;
    position: relative;
    z-index: 2;
    overflow: hidden ;
}



.bizhaqimizda-text
{
    width: 50%;
    padding: 10px;
}

.bizhaqimzida-img
{
    width: 50%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
}

.bizhaqimzida-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.biz-haqimizda p {
    font-weight: 500;
    margin: 10px 0 20px 0;
    line-height: 25px;
}

.bizhaqimizda-text h1
{
    font-size: 1.4em;
    font-weight: 500;
    transform: translateX(40px);
    position: relative;
    color: var(--gb-color);
}

.bizhaqimizda-text h1:before
{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--gb-color);
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}


.bizhaqimizda-text h3{
    font-size: 2em;
    font-weight: 900;
    margin-top: 20px;
    color: var(--gb-color);
}

.biz-haqimizda a
{
    cursor: pointer;
    z-index: 2;
}




/* biz haqimizda ============================= */








/* impuls box =================================== */
.impuls
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
}


.impuls-box
{
    height: 80vh;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 10px;
    text-align: center;
    padding: 10px;
    background: var(--gb-color);
    color: var(--fff);
    border-radius: 7px;
    box-shadow: 0 0 10px var(--gb-color);
}


.img-impuls-box
{
    border-radius: 7px;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background: var(--fff);
    position: relative;
}

.impuls-box img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-logo
{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 99;
}

.img-logo img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* impuls box =================================== */








.bino
{
    width: 95%;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}




.bino_box
{
    width: 100%;
    display: flex;
    height: 80vh;
    margin-bottom: 50px;
}

.bino_box div
{
    width: 50%;
}

.bino_box div:nth-child(1)
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bino_box div:nth-child(2)
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 0;
}


.bino_box div:nth-child(2) p
{
    margin: 10px 0;
    width: 90%;
    font-size: 1.2em;
}



.bino_box div img
{
    width: 80%;
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 20px 30px #6e6c6c71;
    position: relative;
}


.bino_box div img::before
{
    position: absolute;
    content: "";
    width: 30px;
    height: 60vh;
    background: #000;
    left: 0;
    top: 0;
    z-index: 1;
}


.bino_box ul
{
    padding: 20px;
}


.bino_box ul li
{
    list-style: disc;
    font-size: 1.3em;
}


.bino_malumot
{
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 30px #6e6c6c71;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
}

.bino_malumot p
{
    margin-top: 20px;
}


.bino_malumot h3
{
    color: #000;
}

.bino_imgs
{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px 0px;
    padding: 40px 20px;
    margin-top: 40px;
}

.bino_imgs div
{
    box-shadow: 0 10px 30px #6e6c6c42;
    height: 40vh;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 2px;
}


.bino_imgs div img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
















@media (max-width: 1000px) {
    .biz-haqimizda
    {
        flex-direction: column-reverse;
        height: auto;
        padding: 30px 3%;
    }

    .bizhaqimizda-text
    {
        width: 100%;
    }

    .bizhaqimzida-img
    {
        width: 100%;
        height: 45vh;
        margin-bottom: 20px;
    }

    .accordion-box
    {
        flex-direction: column;
    }

    .impuls
    {
        padding: 10px 5px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    .impuls-box
    {
        height: 70vh;
    }
}



































@media (max-width: 870px) {
    header
    {
        height: 100vh !important;
    }

    .impuls
    {
        flex-direction: column;
        align-items:center;
    }
    .impuls-box
    {
        width: 370px;
        margin: 10px 0;
    }

    .bino_box
    {
        flex-direction: column;
        height: auto;
    }

    .bino_box div
    {
        width: 100%;
    }
    .bino_box div img
    {
        width: 100%;
    }

    .bino_malumot
    {
        height: auto;
        width: 95%;
        text-align: center;
    }

    .bino_imgs
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px 0px;
        padding: 40px 0px;
        margin-top: 40px;
    }
  
}

@media (max-width: 780px) {
  
    .savollar
    {
        width: 97%;
    }

    .img h1
    {
        font-size: 3em;
    }




    header
    {
        height: 80vh;
    }

    .img h4
    {
        top: 43%;
        letter-spacing: 1px;
        font-size: 1em;
    }

    .img:nth-child(2) h1
    {
        font-size: 1.5em;
    }




  




    .usmle_box h4
    {
        font-weight: 400 !important;
        width: 90%;
        font-size: 1.1em;
        margin: 20px 0;
    }



   

}



@media (max-width: 780px) {

    .avzalliklar
    {
        /* flex-direction: column; */
        height: auto;
        grid-template-columns: repeat(1,1fr);
    }
    
    .avzalliklar div{
        margin: 20px 0;
    }

}






@media (max-width: 520px) {

    header
    {
        height: 50vh !important;
    }



    .img h1
    {
        font-size: 1.7em !important;
    }

    .hamkorlar
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .hamkor-box
    {
        width: 150px;
        margin: 0 auto;
    }

    .first
    {
        font-size: 1.5em !important;
        text-align: center;
        margin-bottom: 0 !important;
    }

    .left-menu h2
    {
        font-size: 1.2em;
    }

    .savol-div
    {
        padding: 0 15px;
    }

    .savol-div h1
    {
        font-size: .9em;
    }

    .right-menu
    {
        padding: 0;
    }
   
    
    .impuls
    {
        padding: 10px 5px;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .impuls-box
    {
        width: 90%;
        height: 90vh;
    }


    .img h1
    {
        font-size: 1em;
    }

    .img:nth-child(2) h1, h2
    {
        font-size: 1em;
    }
   

    .biz-haqimizda h1
    {
        font-weight: 500;
    }

    .btn
    {
        font-weight: 500;
    }

    .impuls-box h1
    {
        font-weight: 500;
    }







    



    .usmle_box h4
    {
        font-weight: 400 !important;
        width: 99%;
        font-size: 1.2em;
        margin: 20px 0;
    }

    .usmle_box h1
    {
        font-size: 1.5em;
        letter-spacing: 0px;
    }

    .usmle_box
    {
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        padding: 40px 20px;
    }

    .usmle
    {
        height: auto;
        padding: 10px 0;
    }

    .usmle_box .link_usmle
    {
        font-size: 1em;
        padding: 6px 15px;
    }

    .bino_imgs
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px 0px;
        padding: 40px 0px;
        margin-top: 40px;
        justify-content: center;
    }


}



@media (max-width: 450px) {

    .img-impuls-box
    {
        height: 61%;
    }

    .impuls-box
    {
        height: 60vh;
    }

}