
/* Navbar =================================== */


.navbar {
    background: var(--fff);
    transition: .5s;
    z-index: 999 !important;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    background: rgba(161, 165, 173, 0);
}

.navbar.active {
    position: fixed;
    width: 99.5%;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    z-index: 2;
    z-index: 1000;
    background: rgba(63, 59, 59, 0.39);
    /* background: var(--gb-color); */
    padding: 8px 10px 10px 10px !important;
    backdrop-filter: blur(50px);
    border-radius: 10px;
}

.phone_icon
{
    font-size: 20px !important;
}

.nav-top-info {
    display: flex;
    justify-content: space-between;
    transition: .5s;
    height: 8vh;
    width: 97%;
    margin: 0 auto;
    color: var(--fff);
    border-bottom: 1px solid rgba(255, 255, 255, 0.527);
}

.nav-top-info.active {
    width: 99%;
    height: 0;
    transform: translateY(-150px);
}

.nav-top-info span {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    margin: 0 15px;
    font-weight: 500;
}

.nav_top_spans a
{
    color: #fff;
    display: flex;
    align-items: flex-end;
    font-size: 15px !important;
}

.nav_top_spans a svg
{
    font-size: 25px;
    margin-right: 5px;
}

.nav-top-info span i {
    margin-right: 10px;
    color: var(--ffff);
}

.phone-univer a
{
    color:var(--fff)!important;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 2%;
    position: relative;
    transition: .5s;
    z-index: 2;
}



.nav .menu {
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-direction: column;
    z-index: 2;
    cursor: pointer;
    display: none;
}

.nav .menu span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    transition: .5s;
    background: var(--fff);
    
}


.email-univer a
{
    color:  var(--fff);
}




.menu.active span:nth-child(2) {
    transform: scale(0);
}


.menu.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.navbar-brand a h1 {
    font-size: 2em;
    color: var(--fff);
}


.navbar.active
{
    padding: 0;
}


.navbar.active .nav
{
    padding: 7px 1%;
}

.navbar.active .navbar-brand a h1
{
    color: var(--fff);
}

.lng.active
{
    background: var(--fff);
    color: var(--gb-color);
}

.lng
{
    text-align: center;
    color: var(--fff);
    cursor: pointer;
    margin: 0 !important;
}

.lngs
{
    margin: 0 !important;
}

.navigation {
   display: flex;
   align-items: center;
}



.navigation li a {
    color: var(--fff);
    font-weight: 500;
    width: 100%;
    display: inline-block;
    transition: .5s;
    padding: 7px 10px;
    transition: .5s;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.navigation li a:hover {
    background: var(--fff);
    color: var(--gb-color) !important;
}

.navigation li a svg {
    margin-left: 5px;
}

.navbar.active .navigation li a
{
    font-weight: 500;
}





.navbar-brand a
{
    display: flex !important;
    align-items: flex-end;
    font-size: 1.2em;
    font-weight: 700;
}
.navbar-brand img
{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 5px;
}



.ariza_btn
{
    background: var(--gb-color);
    color: var(--fff);
    position: relative;
}

.ariza_btn::before
{
    content: "Tez kunda";
    position: absolute;
    padding: 2px 4px;
    font-size: 8px;
    background: rgb(5, 238, 168);
    color: blue;
    right: -5%;
    top: -8px;
    border-radius: 3px;
    animation: news 4s alternate infinite;
    color: #fff;
}

.user_link
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-left: 0 !important;
    position: relative;
}



.user_link svg
{
    margin-left: 0 !important;
}


.yangi{
    position: relative;
}

.yangi::before
{
    content: "Tez kunda";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
    padding: 2px;
    background: rgb(5, 238, 168);
    color: blue;
    border-radius: 2px;
    animation: news 4s alternate infinite;
    color: #fff;
}






.imi:hover .ul_pages
{
    display: block;
}



.navbar.active .navigation li a, .navbar-brand a
{
    color: var(--fff);
}

.navigation li
{
    margin: 0 5px;

}


.navbar.active .lng-box svg path
{
    stroke: var(--fff);
}



.ul_menu_1,
.ul_menu_2,
.ul_menu_3
{
    position: absolute;
    background: var(--gb-color);
    padding: 10px 0;
    border-radius: 10px;
    max-height: 0;
    transition: .4s;
    padding: 0;
    overflow: hidden;
}


.ul_menu_1.active,
.ul_menu_2.active,
.ul_menu_3.active
{
    max-height: 50vh;
    padding: 10px 0;
}


.user_link .platform_links
{
    position: absolute;
    font-size: 1em;
    background: var(--gb-color);
    top: 100%;
    right: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .5s;
    z-index: 999;
}
.user_link .platform_links.active{
    max-height: 50vh;
}

.user_link .platform_links a
{
    font-size: 18px !important;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
.user_link .platform_links a svg
{
    margin-right: 4px;
}

.lng-box
{
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.438);
}






.lng-box span
{
    padding: 3px 5px;
    border-radius: 4px;
}

.lng
{
    margin-right: 0 !important;
}

.nav_lng
{
    display: none;
}




/* Navbar =================================== */






.user_menu
{
    display: flex;
    align-items: center;
}

#responsive_platform_links
{
    display: none;
}






















@media (max-width: 870px) {

    #responsive_platform_links
    {
        display: block;
    }

    .nav_lng
    {
        display: flex;
    }
    .lng-box
    {
        border-left: 0;
    }

    .navbar.active .navigation
    {
        background: var(--gb-color);
    }

    .navbar.active
    {
        width: 97%;
    }


    .navbar.active .nav
    {
        padding: 15px 3%;
    }


    .navigation
    {
        position: fixed;
        left: 0;
        top: -100vh;
        width: 100%!important;
        height: 90vh !important;
        border-radius: 10px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.281);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1.2em;
        line-height: 50px;
        padding-top: 30px;
        padding: 20px;
        transition: .5s;
        backdrop-filter: blur(80px);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.918);
        overflow-y: scroll;
    }

    .navigation::-webkit-scrollbar
    {
        display: none;
    }

    .navigation.active
    {
        top:0;
    }



    
    .navigation li a
    {
        color: var(--fff);
        padding: 0 7px;
        margin-bottom: 4px;
        display: flex !important;
        text-align: center;
    }
    

    .imi a,
    .tuzilma a,
    .talabalar a
    {
        display: flex !important;
        align-items: center !important;
        text-align: center;
    }


   

   
    .imi:hover
    {
        background: rgba(0, 0,0, 0) !important;
    }




    .ul_menu_1,
    .ul_menu_2,
    .ul_menu_3
    {
        position: static;
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        width: 100%;
        padding: 0;
        background: #ffffff00;
        line-height: 30px;
    }


    .ul_menu_1.active,
    .ul_menu_2.active,
    .ul_menu_3.active
    {
        height: auto;
        opacity: 1;
        visibility: visible;
    }

    .ul_menu_1 li a,
    .ul_menu_2 li a,
    .ul_menu_3 li a
    {
        padding:  10px !important;
        margin: 0;
    }

        



    .nav-top-info
    {
        display: none;
    }

    .menu
    {
        display: flex !important;
    }

    .navbar-brand
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
 
  

    .yangi::before,
    .ariza_btn:before,
    .faq::before
    {
        display: none;
    }


}

@media (max-width: 780px) {

    .user_link
    {
        margin-right: 13px;
        font-size: 1.7em;
    }
    .nav-top-info
    {
        flex-direction: column;
        height: 23vh;
    }

    .nav-top-info span
    {
        padding: 10px 20px;
        border-bottom: 1px solid var(--border-color);
        width: 100%;
    }

    .nav-top-info span:last-child
    {
        border-bottom: none;
    }

    .phone-univer
    {
        border-right: none;
        border-left: none;
    }
    

   
    .nav .menu span
    {
        background: var(--fff);
    }
   

    .navbar.active .navbar-brand a
    {   
        color: var(--fff);
    }
    .navbar.active .nav .menu span
    {   
        background: var(--fff);
    }

}






@media (max-width: 520px) {
    .nav-top-info
    {
        display: none;
    }

    .nav
    {
        padding: 20px;
    }
    .navbar-brand h1
    {
        font-size: 1.2em !important;
    }
    
    .navbar.active{
        backdrop-filter: blur(100) !important;
        width: 100%;
        top: 0;
        border-radius: 0;
    }



    .navigation li a {
        font-weight: 500;
    }
   



    .contact-info a i {
        font-size: 1em;
    }   

 

    .lng-box svg path
    {
        stroke: var(--fff);
    }

    .languages
    {
        left: 100%;
        width: 100px;
    }
    .language span
    {
        text-align: center !important;
    }

    .navbar.active
    {
        padding: 0 !important;
    }

    .navbar-brand p
    {
        font-size: .7em;
    }
    .navbar-brand img
    {
        width: 30px;
        height: 30px;
    }


    .navbar-brand a
    {
        align-items: center !important;
    }

    .navigation
    {
        padding: 10px !important;
    }
}
