nav
{
    position: fixed;
    background: rgba(188, 185, 185, 0.534);
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    width: 80%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 15px;
    backdrop-filter: blur(50px);
    backdrop-filter: saturate(300%) blur(30px);
    box-shadow: inset 0 0 40px 10px rgba(255, 255, 255, 0.368);
}





nav .navigation
{
    display: flex;
    align-items: center;
}


.navigation li a
{
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.dropdown a
{
    padding-right: 0 !important;
}

.navigation .dropdown a svg
{
    margin-left: 3px;
    font-size: 1.2em;
}

nav a
{
    /* color: rgb(63, 89, 135); */
    color: rgb(255, 255, 255);
}


.navbar_logo
{
    min-width: 40px !important;
    height: 40px !important;
    padding: 7px 0 !important;
    background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow: rgba(26, 115, 232, 0.15) 0rem 0.1875rem 0.1875rem 0rem, rgba(26, 115, 232, 0.2) 0rem 0.1875rem 0.0625rem -0.125rem, rgba(26, 115, 232, 0.842) 0rem 0.0625rem 0.3125rem 0rem !important;
    border-radius: 10px !important;
    display: flex;
    align-items: flex-end;
}



.navbar_logo img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar_logo a
{
    width: 100%;
    height: 100%;
}



.login_link
{
    padding: 8px 20px;
    border-radius: 10px !important;
    background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)) !important;
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: rgb(255, 255, 255);
    box-shadow: rgba(44, 135, 255, 0.551) 0rem 0.1875rem 0.1875rem 0rem, rgba(26, 115, 232, 0.527) 0rem 0.1875rem 0.0625rem -0.125rem, rgba(26, 115, 232, 0.537) 0rem 0.0625rem 0.3125rem 0rem;
    background-size: 150% !important;
}


.dropdown,
.lng
{
    position: relative;
}

.dropdown ul,
.lng ul
{
    position: absolute;
    left: 0;
    top: 300%;
    padding: 10px 5px;
    background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: rgb(255, 255, 255);
    box-shadow: rgba(26, 115, 232, 0.15) 0rem 0.1875rem 0.1875rem 0rem, rgba(26, 115, 232, 0.2) 0rem 0.1875rem 0.0625rem -0.125rem, rgba(26, 115, 232, 0.842) 0rem 0.0625rem 0.3125rem 0rem;
    background-size: 150% !important;
    line-height: 25px;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    border-radius: 10px !important;
}

.lng ul 
{
    left: 0%;
    width: auto;
    padding: 5px;
}

.lng ul li 
{
    min-width: 35px;
    text-align: center;
}

.lng a
{
    font-size: 1.5em;
}

.lng ul li.active
{
    background: #fff;
    border-radius: 8px;
}

.lng ul li span
{
    font-size: .9em;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.lng ul li.active span
{
    color: black;
}



nav .navigation li:hover > ul
{
    opacity: 1;
    visibility: visible;
    top: 120%;
}


.dropdown ul li a:hover,
.navigation li a:hover,
.login_platform_box a:hover
{
    opacity: .7;
}





.menu
{
    width: 40px;
    height: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.menu span
{
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background: #fff;
    transition: .5s;
}


.login_platform_box
{
    position: absolute;
    right: 0;
    top: 150%;
    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow: rgba(26, 115, 232, 0.15) 0rem 0.1875rem 0.1875rem 0rem, rgba(26, 115, 232, 0.2) 0rem 0.1875rem 0.0625rem -0.125rem, rgba(26, 115, 232, 0.842) 0rem 0.0625rem 0.3125rem 0rem !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.login_platform_box.active
{
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.login_platform_box a
{
    padding: 5px 0;
}




















/* Respomsive */


@media (max-width: 760px) {
    nav
    {
        width: 98%;
    }
}




@media (max-width: 620px) {

    .menu
    {
        display: flex;
        z-index: 999;
    }


    nav
    {
        top: 5px;
        width: 98%;
        padding: 10px 15px;
        /* overflow: hidden; */
    }

    
    .menu.active span:nth-child(2) {
        transform: scale(0);
    }


    .menu.active span:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }

    .menu.active span:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }


    

    .navigation
    {
        position: absolute;
        left: 0;
        top: -100vh;
        width: 100%;
        /* background: #000; */
        background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)) !important;
        background-position-y: initial;
        background-repeat: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
        color: rgb(255, 255, 255);
        background-size: 150% !important;
        height: 80vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
        padding: 20px;
        z-index: 99;
        border-radius: 10px;
        transition: .5s;
    }

    .navigation.active
    {
        top: 0;
    }

    .navigation.active nav
    {
        overflow: visible;
    }

    .navigation li a
    {
        padding: 5px 0;
    }


    .login_platform_box
    {
        width: 130px;
        top: 42%;
        left: 5%;
    }

    .login_platform_box.active
    {
        top: 42%;
        left: 5%;
    }

    nav .navigation li:hover ~ .login_platform_box
    {
        opacity: 0;
        visibility: hidden;
    }


    .desktop_user
    {
        display: none !important;
        top: -100%;
    }

    .mobile_link_login
    {
        display: block !important;
    }

    .dropdown ul
    {
        top: 100%;
        transition: .1s !important;
        background: transparent;
        opacity: 1;
        box-shadow: 0 0 0 transparent;
        visibility: visible;
        min-height: 0 !important;
        display: none;
    }
    

    nav .navigation li:hover > ul
    {
        position: initial;
        display: block;
    }

    .lng ul
    {
        width: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lng ul li
    {
        text-align: center !important;
        width: 100%;
        text-align: center;
        display: grid;
        place-items: center;
    }
}
