

.gallery_banner
{
    height: 100vh;
}
.gallery_banner::before
{
    display: none;
}


.gallery_b .lg-react-element 
{
    width: 97%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    padding: 10px;
    margin: 0 auto;
    transform: translateY(-200px);
    backdrop-filter: saturate(300%) blur(30px) ;
    border-radius: 10px;
    box-shadow: inset 0 0 40px 10px rgba(255, 255, 255, 0.368);

}



.gallery_b .lg-react-element 
{
    padding: 10px;
}

.gallery_b .lg-react-element 
{
    display: grid !important;
    grid-gap: 10px !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    grid-auto-rows: 200px !important;
    grid-auto-flow: dense !important;
}

.gallery_b .lg-react-element > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}




.gallery_b .lg-react-element  .wide
{
    grid-column: span 2;
}


.gallery_b .lg-react-element .tall
{
    grid-row: span 2;
}


.gallery_b .lg-react-element .big
{
    grid-column: span 2;
    grid-row: span 2;
}