.banner-books
{
    width: 100%;
    height: 90vh;
    background: url(../../imgs/kitob\ rasm.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    color: var(--fff);
    font-size: 2em;
    z-index: 2;
    position: relative;
    overflow: hidden;
}   

.banner-books::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
}


.banner-books h1
{
    z-index: 2;
    color: var(--fff);
    font-size: 1.5em;
}



.books
{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.buttons
{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.buttons span
{
    padding: 8px 10px;
    font-size: .9em;
    margin: 0 10px;
    color: var(--000);
    border-radius: 3px;
    cursor: default;
    border: 2px solid var(--gb-color);
}

.buttons span.active
{
    background:  var(--gb-color);
    color: var(--fff);
}

.adabiy-kitoblar.grid
{
    width: 100%;
    height: auto;
    display: grid;
    /* grid-template-columns: repeat(1,1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px ,1fr));
    gap: 20px;
    padding: 20px;
    left: 0;
    top: 0;
}
.adabiy-kitoblar.list
{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(250px ,1fr)); */
    gap: 20px;
    padding: 20px;
    left: 0;
    top: 0;
}

.adabiy-kitoblar.list .book-img
{
    display: none;
}



/* .book
{
    height: 60vh;
    background: var(--fff);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(66, 58, 58, 0.534);
} */



.book .book-img
{
    width: 100%;
    height: 70%;
}


.book-img img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.book
{
    height: 60vh;
    background: var(--fff);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(66, 58, 58, 0.534);
}
.adabiy-kitoblar.grid .book
{
    flex-direction: column;
}

.adabiy-kitoblar.list .book
{
    height: 10vh !important;
    display: flex !important;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}


.adabiy-kitoblar.list .book-img
{
    width: 50px;
    height: 50px;
}



.book.list > .title
{
    text-align: left !important;
}

 /* .book
 {
    display: flex;
    height: 10vh;
    overflow: hidden;
    border: 1px solid #000;
    align-items: center;
 }

 .book-img img
 {
    display: none;
 } */

.book-popup
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.548);
    z-index: 999;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.5);
    transition: .5s;
}


.book-popup.active
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}




.book-info
{
    width: 65%;
    height: 80%;
    background: var(--fff);
    z-index: 999;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}



.close_popup
{
    position: absolute;
    right: 20px;
    top: 30px;
}





.book-infos
{
    width: 400px;
    height: 80%;
    margin-left: 30px;
}

.book-info-img
{
    width: 300px;
    height: 80%;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.571);
}

.qr
{
    width: 200px;
    height: 200px;
}


.book-info-img img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title
{
    cursor: default;
    text-align: center;
    margin-top: 5px;
}

.title:hover
{
    color:  var(--gb-color);
}



.input
{
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid_list
{
    margin-left: 30px;
    width: auto;
    border: 2px solid  var(--gb-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px !important;
    display: none;
}

.grid_list span
{
    padding: 5px 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-radius: 5px;
}

.grid_list span svg
{
    font-size: 1.2em;
    margin-right: 5px;
}

.grid_list span:hover
{
    cursor: pointer;
    background: var(--gb-color);
    color: #fff !important;
}

.grid_list span.active
{
    background: var(--gb-color);
    color: #fff;
    padding: 4px;
    font-size: 1em;
}

.input input
{
    border: none;
    outline: none;
    padding: 12px 10px;
    width: 50%;
    border-radius: 4px;
    border: 2px solid  var(--gb-color);
}


.book-popup .button
{
    background:  var(--gb-color);
    color: var(--fff);
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}

.target_link,
.target_avtor,
.target_year
{
    display: none;
}




.pagination
{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding-left: 40px;
}

.page-item
{
    width: 30px!important;
    height: 30px!important;
    border: 1px solid var(--gb-color);
    color: var(--gb-color);
    background: var(--fff);
    margin-right: 4px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    transition: .5s;
}


.page-item.active
{
    background: var(--gb-color);
    color: var(--fff);
}










@media (max-width: 748px) {
    .book-info
    {
        width: 80%;
        flex-direction: column;
        height: 90%;
        overflow-y: scroll;
        overflow-x: hidden;
    }


    .book-info::-webkit-scrollbar
    {
        display: none;
    }


    .book-info-img
    {
        width: 300px;
        align-items: flex-start;
    }

    .book-infos
    {
        margin-left: 0;
        margin-top: 20px;
        padding: 10px;
    }

    .pagination
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding-left: 10px;
        overflow-x: scroll;
    }

    .page-item
    {
        min-width: 40px!important;
    }
}














@media (max-width: 550px) {

    .book-info
    {
        width: 100%;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        align-items: center;
        border-radius: 0;
    }

    .banner-books
    {
        height: 50vh;
    }

    .banner-books h1
    {
        font-size: .8em;
    }

    .input input
    {
        width: 70%;
    }


    .book-infos
    {
        width: auto;
        padding: 10px !important;
    }

    .close_popup
    {
        background: var(--fff);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
    }

    .books
    {
        padding: 10px;
    }

    .adabiy-kitoblar,
    .ilmiy-kitoblar
    {
        padding: 10px;
        grid-template-columns: repeat(auto-fill, minmax(100% ,1fr));
    }

}