.news_section
{
    height: auto;
    width: 100%;
    padding: 20px 10%;
}

.news_section h1:first-child
{
    text-align: center;
    font-size: 3em !important;
}

.news_box
{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    gap: 40px;
    padding: 10px 0%;
}



.news_card
{
    min-width: 50px !important;
    height: auto;
    /* padding: 25px; */
    outline: none;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #e2e8f0;
}

.news_inner_div
{
    padding: 20px;
}


.news_card .title_news
{
    /* line-height: 30px; */
    font-size: 1.3em;
    color: #000;
    font-weight: 600;
}

.title_news:hover
{
    text-decoration:underline;
}


.news_card img
{
    width: 100%;
    height: 37vh;
    object-fit: cover;
    box-shadow: 0 10px 20px #9e9a9a49;
    /* margin: 20px 0; */
}


.more_link
{
    display: flex;
    align-items: center;
    color: #667eea;
}

.more_link:hover
{
    text-decoration: underline;
}

.more_link svg
{
    margin-left: 10px;
    color: #667eea;
}


.button-date
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.button-date button
{
    outline: none;
    border: none;
}

.text_center
{
    text-align: center;
}


@media (max-width:1000px) {
    .news_box
    {
        /* display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        overflow: hidden;
        padding: 50px 0%;
    }
}

@media (max-width:720px) {
    .news_box
    {
        /* display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        overflow: hidden;
        padding: 50px 0%;
    }
}
@media (max-width:600px) {
    .news_card h1
    {
        line-height: 37px;
        margin-bottom: 20px;
    }
}


@media (max-width:500px) {
    .news_card
    {
       padding: 0;
    }

    .news_card img
    {
        height: 37vh;
    }
}