.popup_news
{
    position: fixed;
    left: 0;
    top: 0;
    background: #ffffff5b;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100vh;
    z-index: 9999;
}

.popup_news.active
{
    display: none;
}

.popup_inner_div
{
    width: 60%;
    height: 80%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
}


.news_info_decription
{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 40%;
    background: rgba(233, 233, 233, 0.458);
    backdrop-filter: blur(20px);
    padding: 10px;
    border-radius: 10px;
}

.popup_inner_div img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.closeBtn
{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2.2em;
    z-index: 1;
    cursor: pointer;
}


@media (max-width: 1100px) {
    .popup_inner_div
    {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .popup_inner_div
    {
        width: 90%;
    }

    .news_info_decription
    {
        width: 90%;
    }
}
@media (max-width: 650px) {
    .popup_inner_div
    {
        width: 95%;
        height: 95%;
    }

    .news_info_decription
    {
        width: 95%;
        position: static;
        z-index: 1;
        left: 50px;
        background: #fff;
        padding: 20px;
        transform: translateX(0);
    }

    .popup_inner_div img
    {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}
@media (max-width: 550px) {
    .popup_inner_div
    {
        width: 95%;
        height: 95%;
    }

    .popup_inner_div img
    {
        width: 100%;
        height: 40%;
        object-fit: cover;
    }

}