
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,400;0,500;0,600;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

li
{
  list-style: none;
}

a
{
  text-decoration: none;
}


html
{
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.bg_gradient
{
  background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  background-position-y: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  box-shadow:  rgba(26, 115, 232, 0.15) 0rem 0.1875rem 0.1875rem 0rem, rgba(26, 115, 232, 0.2) 0rem 0.1875rem 0.0625rem -0.125rem, rgba(26, 115, 232, 0.842) 0rem 0.0625rem 0.3125rem 0rem !important;
  border-radius: 10px !important;
}

:root {
  
  /* --gb-color: #1357d4; */
  --gb-color: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  --fff: #fff;
  --green: rgb(6, 236, 17);
  --blur-fff: rgba(255, 255, 255, 0.699);
  --000: #000;
  --border-color: rgba(231, 223, 223, 0.842);
  --rgbaBG: rgba(0, 0, 0, 0.322);
  --boxShadow: rgba(110, 107, 107, 0.575);
  --avzal-cardBG: #949191;
  --kulrang: #f3f4f5;
  --link-color: rgb(99, 98, 98);
}

.tashqi_savdo_pdf
{
  width: 100%;
  height: 100vh;
  z-index: 9999 !important;
}



.loader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(26, 115, 232);
    z-index: 9999 !important;
    display: grid;
    place-items: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.loader.active
{
  transform: translateY(-10000vh);
  -webkit-transform: translateY(-10000vh);
  -moz-transform: translateY(-10000vh);
  -ms-transform: translateY(-10000vh);
  -o-transform: translateY(-10000vh);
}


.lds-roller {
    display: inline-block;
    position: absolute;
  }
  .lds-roller div {
    animation: lds-roller 1.1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    -webkit-animation: lds-roller 1.1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .text-center
  {
    text-align: center;
  }








.page_links_box
{
  width: 80%;
  margin: 0 auto;
}


  .pages_link
{
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 5vh;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    margin-top: 80px;
}


.pages_link svg
{
    font-size: .8em;
    margin: 0 8px;
    color:  rgb(26, 115, 232);
}

.pages_link a
{
    color: #787b7b;
}